<p style="color: green"><%= notice %></p>
<section
  class="overflow-hidden bg-[url(https://images.unsplash.com/photo-1602810319428-019690571b5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)] bg-cover bg-center bg-no-repeat"
>
  <div class="bg-black/25 p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="text-center sm:text-left">
      <h2 class="text-2xl font-bold text-white sm:text-3xl md:text-5xl">
       Register Activity
      </h2>

      <p
        class="hidden max-w-lg text-white/90 md:mt-6 md:block md:text-lg md:leading-relaxed"
      >Click here to start tracking your baby's activities</p>

      <div class="mt-4 sm:mt-8">

<%= link_to "New screen time", new_screen_time_path, class: "inline-block rounded-full bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400" %>

      </div>
    </div>
  </div>
</section>

<section class="overflow-x-auto">

  <div id="screen_times">
<table class="min-w-full divide-y-2 divide-gray-200 text-sm">
    <thead>
       <tr>
        <th
          class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
        >
         Duration 
        </th>
        <th
          class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
          >
          Activity
        </th>
        <th
          class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
          >
          Type
        </th>
        <th
          class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
          >
          Actions
       </tr>
    </thead>

 <tbody class="divide-y divide-gray-200">
    <% @screen_times.each do |screen_time| %>
      <tbody class="divide-y divide-gray-200">
      <tr>
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          <%= screen_time.duration %>
        </td>
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          <%= screen_time.screen_type %>
        </td>
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          <%= screen_time.app_name %>
        </td>
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">

      <div class="inline-flex rounded-lg border border-gray-100 bg-gray-100 p-1">
  <button
    class="inline-flex items-center gap-2 rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 focus:relative"
  >
    <%= link_to "Edit", edit_screen_time_path(screen_time) %>
  </button>

  <button
    class="inline-flex items-center gap-2 rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 focus:relative"
  >
        <%= link_to "View", screen_time %>
  </button>

  <button
    class="inline-flex items-center gap-2 rounded-md bg-white px-4 py-2 text-sm text-blue-500 shadow-sm focus:relative"
  >
    <%= link_to "Delete", screen_time, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}%>
  </button>

      </tr>

</div>

    <% end %>
  </div>
</table>
</section>
